---
import CsharpIcon from "../iconos/CsharpIcon.astro";
import CssIcon from "../iconos/CssIcon.astro";
import DockerIcon from "../iconos/DockerIcon.astro";
import GitHubIcono from "../iconos/GitHubIcono.astro";
import GitIcon from "../iconos/GitIcon.astro";
import JsIcon from "../iconos/JsIcon.astro";
import Laravel11 from "../iconos/Laravel11.astro";
import MysqlIcon from "../iconos/MysqlIcon.astro";
import NetIcon from "../iconos/NetIcon.astro";
import NodeIcon from "../iconos/NodeIcon.astro";
import PhpIcon from "../iconos/PhpIcon.astro";
import ReactIcono from "../iconos/ReactIcono.astro";
import SqlServerIcon from "../iconos/SqlServerIcon.astro";
import Tailwind from "../iconos/Tailwind.astro";
import CardProyecto from "./CardProyecto.astro";
---

<main>
  <section class="grid gap-7 sm:grid-cols-2">
    <CardProyecto
      referencia="/proyectos/streamtech"
      imagen="stream2.png"
      titulo="Stream Tech"
      subTitulo="Gestión de usuarios, productos y servicio técnico"
    >
      <div slot="tecnologias" class="flex gap-1 items-center">
        <ReactIcono class="w-5 stroke-none" />
        <Laravel11 class="w-5 stroke-none" />
        <Tailwind class="w-5 stroke-none" />
        <MysqlIcon class="w-5 stroke-none" />
        <GitIcon class="w-5 stroke-none" />
        <GitHubIcono class="w-5" />
        <DockerIcon class="w-5" />
      </div>
    </CardProyecto>

    <CardProyecto
      referencia="/proyectos/pulguitas"
      imagen="pulguitas.png"
      titulo="Pulguitas"
      subTitulo="Gestión de inventario, ventas online"
    >
      <div slot="tecnologias" class="flex gap-1 items-center">
        <ReactIcono class="w-5 stroke-none" />
        <NodeIcon class="w-5 stroke-none" />
        <Tailwind class="w-5 stroke-none" />
        <MysqlIcon class="w-5 stroke-none" />
        <GitIcon class="w-5 stroke-none" />
        <GitHubIcono class="w-5" />
        <DockerIcon class="w-5" />
      </div>
    </CardProyecto>

    <CardProyecto
      referencia="/proyectos/vetSales"
      imagen="vetsales.webp"
      titulo="Sistema local para PetShop"
      subTitulo="Inventario, ventas, envío de productos por WhatsApp"
    >
      <div slot="tecnologias" class="flex gap-1 items-center">
        <ReactIcono class="w-5 stroke-none" />
        <NodeIcon class="w-5 stroke-none" />
        <Tailwind class="w-5 stroke-none" />
        <MysqlIcon class="w-5 stroke-none" />
        <GitIcon class="w-5 stroke-none" />
        <GitHubIcono class="w-5" />
      </div>
    </CardProyecto>

    <CardProyecto
      referencia="/proyectos/gimnasio"
      imagen="gym.webp"
      titulo="Gestión de gimnasio"
      subTitulo="Clientes, pagos, historial"
    >
      <div slot="tecnologias" class="flex gap-1 items-center">
        <PhpIcon class="w-5 stroke-none" />
        <JsIcon class="w-5 stroke-none" />
        <CssIcon class="w-5 stroke-none" />
        <MysqlIcon class="w-5 stroke-none" />
        <GitIcon class="w-5 stroke-none" />
        <GitHubIcono class="w-5" />
      </div>
    </CardProyecto>
    <CardProyecto
      referencia="/proyectos/vegetarian"
      imagen="vegetarian.webp"
      titulo="Vegetarian"
      subTitulo="Web para mostrar productos, combos, local, etc."
    >
      <div slot="tecnologias" class="flex gap-1 items-center">
        <PhpIcon class="w-5 stroke-none" />
        <JsIcon class="w-5 stroke-none" />
        <CssIcon class="w-5 stroke-none" />
        <MysqlIcon class="w-5 stroke-none" />
        <GitIcon class="w-5 stroke-none" />
        <GitHubIcono class="w-5" />
      </div>
    </CardProyecto>
    <CardProyecto
      referencia="/proyectos/hell"
      imagen="hell.webp"
      titulo="Hell"
      subTitulo="Gestión de productos, clientes, ventas, etc."
    >
      <div slot="tecnologias" class="flex gap-1 items-center">
        <CsharpIcon class="w-5 stroke-none" />
        <NetIcon class="w-5 stroke-none" />
        <SqlServerIcon class="w-5 stroke-none" />
        <GitHubIcono class="w-5" />
      </div>
    </CardProyecto>

    <CardProyecto
      referencia="/proyectos/rockEdm"
      imagen="rock.webp"
      titulo="Rock & EDM Festival"
      subTitulo="Web informativa"
    >
      <div slot="tecnologias" class="flex gap-1 items-center">
        <PhpIcon class="w-5 stroke-none" />
        <JsIcon class="w-5 stroke-none" />
        <CssIcon class="w-5 stroke-none" />
        <GitHubIcono class="w-5" />
      </div>
    </CardProyecto>
  </section>
</main>
