@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/Poppins-Italic.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

h3 {
  line-height: 1.8;
  letter-spacing: 0.05em;
}

.bordeFino {
  box-shadow: 0 0 0 0.6px #a7a3a3;
}

/* Esto es de cada proyecto */

.descripcion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.descripcion ul {
  padding-left: 1.25rem;
}

.descripcion ul li {
  list-style-type: disc;
  padding-left: 0.5rem;
}

.descripcion ul li::marker {
  color: #ff5080;
}

.descripcion h2 {
  font-size: 22px;
}
