---
import CardEducacion from "./card/CardEducacion.astro";
import EducationIcon from "./iconos/EducationIcon.astro";
---

<section class="py-3">
  <h2 id="Education" class="text-2xl sm:text-4xl flex items-center gap-5 mb-10">
    <EducationIcon aria-hidden="true" class="w-8 sm:w-10 text-naranjaFuerte" /> Educacion
  </h2>
  <div
    class="flex flex-col px-1 sm:px-5 border-dotted border rounded-xl border-gray-600"
  >
    <CardEducacion
      imagen={"/unne.webp"}
      fecha="2024 - 2025 (9 meses)"
      titulo="Diplomatura en Ciencia de Datos"
      lugar="Universidad Nacional Del Nordeste"
      contenido=""
    />
    <CardEducacion
      imagen={"td.webp"}
      fecha="2024 - 2024 (9 meses)"
      titulo="Desarrollador web Full Stack"
      lugar="Talentos Digitales"
      contenido=""
    />
    <CardEducacion
      imagen={"udemy.webp"}
      fecha="2022 - 2022"
      titulo="Desarrollador Web FrotEnd"
      lugar="Udemy"
      contenido=""
    />
    <CardEducacion
      imagen="/unne.webp"
      fecha="2019 - 2023"
      titulo="Analista Programador Universitario"
      lugar="Universidad Nacional del Nordeste"
      contenido=""
    />
    <CardEducacion
      imagen={"udemy.webp"}
      fecha="2021 - 2021"
      titulo="Desarrollador Web con PHP"
      lugar="Udemy"
      contenido=""
    />
  </div>
</section>
