---
import ExperienciaIcon from "./iconos/ExperienciaIcon.astro";
---

<section>
  <h2 class="text-2xl sm:text-4xl flex items-center gap-5 mb-10">
    <ExperienciaIcon class="w-8 sm:w-10 text-naranjaFuerte" /> Experiencia
  </h2>
  <div class="flex flex-col gap-5">
    <div>
      <h3 class="text-2xl font-semibold">Desarrollador Web Full Stack</h3>
      <h4 class="text-xl">Freelancer</h4>
    </div>
    <span class="text-gray-400">2021 - Actualidad</span>
    <div>
      <ul
        class="list-disc marker:text-rosado pl-2 flex flex-col gap-2 text-sm md:text-base dark:text-gray-400"
      >
        <li>
          Diseñé e implementé sistemas desde cero para empresas sin soluciones
          previas, logrando digitalizar procesos críticos y mejorar la
          eficiencia operativa.
        </li>
        <li>
          Creé e-commerce junto con un sistema de administración de inventarios
          y gestión de usuarios para un petshop, permitiendo un control
          centralizado y eficiente.
        </li>
        <li>
          Desarrollé un sistema de servicio técnico para una empresa de
          telefonía, integrando funciones de seguimiento de reparaciones y
          atención al cliente.
        </li>
        <li>
          Lideré proyectos desde la conceptualización hasta la entrega,
          asegurando que las soluciones fueran completamente adaptadas a las
          necesidades del cliente.
        </li>
        <li>
          Utilicé tecnologías como React, Node.js, Laravel, MySQL, Tailwind CSS
          y Docker para construir soluciones robustas, escalables y fáciles de
          usar.
        </li>
        <li>
          Apliqué metodologías ágiles como Scrum para coordinar con los clientes
          y garantizar entregas dentro de los plazos establecidos.
        </li>
      </ul>
    </div>
  </div>
</section>
