---
import BtnRef from "./botones/BtnRef.astro";
import GitHubIcono from "./iconos/GitHubIcono.astro";
import Linkedin from "./iconos/Linkedin.astro";
---

<main class="flex h-screen justify-center flex-col gap-2 dark:text-white">
  <h1 class="text-4xl lg:text-6xl">
    Soy <span
      class="text-8xl block lg:text-[130px] text-naranjaFuerte font-semibold"
      >Lucas Parodi</span
    >
  </h1>
  <h2 class="text-lg lg:text-2xl font-semibold">
    Desarrollador Web Full Stack | Analista de Sistemas
  </h2>
  <h3 class="text-sm sm:text-lg mt-10">
    Enfocado en mejorar procesos y descartar lo que no aporta valor,
    autodidacta, con buen trabajo en equipo y siempre en busca de soluciones
    innovadoras que impulsen el éxito.
  </h3>
  <div class="flex flex-col sm:flex-row gap-4 mt-20">
    <BtnRef
      referencia="https://www.linkedin.com/in/parodi-lucas-ivan/"
      texto="Linkedin"
    >
      <Linkedin slot={"icono"} class="w-6" />
    </BtnRef>

    <BtnRef referencia="https://github.com/LucasParodi00/" texto="GitHub">
      <GitHubIcono slot={"icono"} class="w-6" />
    </BtnRef>
  </div>
</main>
