---
import BtnRef from "./botones/BtnRef.astro";
import DownLoadIcon from "./iconos/DownloadIcon.astro";
import PresentationIcono from "./iconos/PresentationIcono.astro";
---

<section class="grid md:grid-cols-3 gap-10">
  <div
    class="h-80 rounded-lg overflow-hidden dark:bg-body bg-gray-300 border-gray-400 dark:border-naranjaFuerte border-t-2 border-r-2"
  >
    <img
      src="/imagenes/perfil2.webp"
      alt="Parodi Lucas"
      class="w-full h-full object-contain object-bottom"
      loading="lazy"
    />
  </div>
  <div class="md:col-span-2 flex flex-col gap-10">
    <div>
      <h2 class="uppercase text-3xl text-rosado mb-2 font-semibold">
        Sobre Mi
      </h2>
      <p class="text-sm">
        Argentino, desarrollador web full stack y actualmente trabajo como
        freelancer.
      </p>
      <p class="text-sm">
        Soy autodidacta, responsable y tengo un buen desempeño en trabajo en
        equipo. Me enfoco en mejorar mis procesos y descartar lo que no aporta
        valor. He tenido la oportunidad de desarrollar proyectos tanto
        personales como para emprendimientos, lo que me ha llevado a darme
        cuenta de que este es el camino que quiero seguir.
      </p>
      <p class="text-sm">
        Estoy listo para asumir nuevos desafíos y seguir creciendo, tanto
        profesional como personalmente.
      </p>
    </div>
    <div
      class="flex flex-col sm:flex-row justify-center md:justify-start gap-5"
    >
      <BtnRef texto={"Descargar CV"} referencia="/CV-ParodiLucas.pdf">
        <DownLoadIcon slot="icono" />
      </BtnRef>
      <BtnRef texto={"Presentacion"} referencia="/presentacion" target="">
        <PresentationIcono slot="icono" />
      </BtnRef>
    </div>
  </div>
</section>
