---
const { texto } = Astro.props;
---

<button
  class="relative group transform hover:animate-minimal-scale hover:text-naranjaFuerte"
>
  <slot name="svg" />
  <span
    class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 px-2 py-1 bg-gray-800 text-white text-xs rounded opacity-0 group-hover:opacity-100 transition-opacity"
  >
    {texto}
  </span>
</button>

<style>
  @keyframes minimal-scale {
    0% {
      transform: scale(1.3);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  .hover\:animate-minimal-scale:hover {
    animation: minimal-scale 0.5s ease-in-out;
  }
</style>
