---
import Layout from "../../layouts/Layout.astro";
import LayoutInterno from "../../layouts/LayoutInterno.astro";
import ProyectosContainer from "../../components/proyecto/ProyectosContainer.astro";
import FolderIcon from "../../components/iconos/folderIcon.astro";
---

<Layout title="Parodi Lucas | Proyectos">
  <LayoutInterno>
    <div>
      <h1 class="text-2xl sm:text-4xl flex items-center gap-5 mb-10">
        <FolderIcon class="w-8 sm:w-10 text-naranjaFuerte" /> Proyectos
      </h1>
      <p class="mb-5">
        Aquí se muestran algunos de los proyectos en los que trabajé y aún sigo
        llevando a cabo modificaciones y mejoras continuas.
      </p>
      <ProyectosContainer />
    </div>
  </LayoutInterno>
</Layout>
